html{
	background-image: url("../fondos/login.jpg");
}
.contenedor{
	margin-top: 100px;
	padding: 20px;
	border: 2px solid #0AA3EC;
	box-sizing: border-box;
	border-radius: 14px;
	box-shadow: 3px 2px 1px 1px #0AA3B0;
}
.form{
	margin-top: 10px;
	margin-bottom: 10px;
}
input[type = email], input[type = password]{
	text-align: center;
        border: solid lightblue;
	border-radius: 14px;
}
input[type = email]:hover, input[type = password]:hover{
	text-align: left;
        box-shadow: 2px 1px 1px 1px #0AA3EC;
        padding-left: 10px;
}
input[type = submit]{
	margin-top: 10px;
}

@media (max-width: 262px){
	.contenedor{
		border: 0px;
		box-shadow: 0px 0px 0px 0px;
	}
}